<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <nav>
                <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
                <a mat-button routerLink="/hospital" routerLinkActive="active">Hospital</a>
                <a mat-button routerLink="/patient" routerLinkActive="active">Patient</a>
                <a mat-button routerLink="/doctor" routerLinkActive="active">Doctor</a>
                <a mat-button routerLink="/specialty" routerLinkActive="active">Specialty</a>
            </nav>                      
        </div>
    </mat-toolbar-row>
</mat-toolbar>
