<form [formGroup]="form" (ngSubmit)="save($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Create Hospital</mat-card-title>
        </mat-card-header>
        <mat-card-content>            
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Name" formControlName="name" matInput type="text">
                    </mat-form-field>
                </div>
            </div>            
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit">Save</button>
            <a mat-raised-button routerLink="/hospital">Return</a>
        </mat-card-actions>
    </mat-card>    
</form>

