<form [formGroup]="form" (ngSubmit)="save($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Edit Patient</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Id" formControlName="id" matInput type="text" [readonly]="true">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                     <mat-form-field *ngIf = "hospitals">
                        <mat-select formControlName="hospitalId"  
                            placeholder="Select Hospital" 
                            [(value)]="selectedHospital" required>
                            <mat-option *ngFor="let item of hospitals" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="hospital.invalid && (hospital.dirty || hospital.touched)" class="alert alert-danger">
                <div *ngIf="hospital.errors.required">
                    Hospital is required.
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Name" formControlName="name" matInput type="text" required>
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors.required">
                    Name patient is required.
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Last Name" formControlName="lastName" matInput type="text" required>
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                <div *ngIf="lastName.errors.required">
                    Lastname patient is required.
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>                        
                        <input formControlName="birthdate" matInput [matDatepicker]="myPicker" placeholder="Birthdate" required>
                        <mat-datepicker-toggle  matSuffix [for]="myPicker"></mat-datepicker-toggle>
                        <mat-datepicker #myPicker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="birthdate.invalid && (birthdate.dirty || birthdate.touched)" class="alert alert-danger">
                <div *ngIf="birthdate.errors.required">
                    Birthdate patient is required.
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Address" formControlName="address" matInput type="text" required>
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
                <div *ngIf="address.errors.required">
                    Address patient is required.
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Profile Picture" formControlName="profilePicture" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit">Save</button>
            <a mat-raised-button routerLink="/patient">Return</a>
        </mat-card-actions>
    </mat-card>    
</form>

