<form [formGroup]="form" (ngSubmit)="save($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Create Doctor</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Name" formControlName="name" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Last Name" formControlName="lastName" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Birthdate" formControlName="birthdate" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Address" formControlName="address" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Profile Picture" formControlName="profilePicture" matInput type="text">
                    </mat-form-field>
                </div>
            </div> 
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit">Save</button>
            <a mat-raised-button routerLink="/doctor">Return</a>
        </mat-card-actions>
    </mat-card>    
</form>

