<form [formGroup]="form" (ngSubmit)="save($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Create Doctor</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                     <mat-form-field *ngIf = "hospitals">
                        <mat-select formControlName="hospitalId"  
                            placeholder="Select Hospital" 
                            [(value)]="selectedHospital">
                            <mat-option *ngFor="let item of hospitals" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                     <mat-form-field *ngIf = "specialties">
                        <mat-select formControlName="specialtyId"
                            placeholder="Select Specialty"
                            [(value)]="selectedSpecialty">
                            <mat-option *ngFor="let item of specialties" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Name" formControlName="name" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Last Name" formControlName="lastName" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input formControlName="birthdate" matInput [matDatepicker]="myPicker"  placeholder="date">
                        <mat-datepicker-toggle  matSuffix [for]="myPicker"></mat-datepicker-toggle>
                        <mat-datepicker #myPicker></mat-datepicker>
                    </mat-form-field>                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Address" formControlName="address" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Profile Picture" formControlName="profilePicture" matInput type="text">
                    </mat-form-field>
                </div>
            </div> 
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit">Save</button>
            <a mat-raised-button routerLink="/doctor">Return</a>
        </mat-card-actions>
    </mat-card>    
</form>

